@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* general configurations */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #dedede;
    color: #1F3237;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

section {
    padding: 0 30px 0 30px;
    margin-bottom: 50px;
    width: 80vw;

    text-align: initial;
    margin: 0 auto;
}

header {
    padding: 5px 30px 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color:#1F3237;
    color: #3DC2E3;
    font-family: 'Special Elite', cursive;
}

 ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 0;
    font-family: 'Special Elite', cursive;
}

 ul li {
    list-style-type: none;
    margin-top: 0;
}

 ul li a {
    color: #fff;
}

ul li a:hover {
    transition: .5s;
    color: #3DC2E3;
    font-size: 20px;
}

#tema {
    padding-bottom: 20px;
}

#generica h1,
#tema h1 {
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #a5bac0;
    padding-left: 5px;
}

.generica p {
    max-width: 1200px;
}

.integrantes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

    margin-bottom: 20px;
}

.pessoa {
    min-height: 460px;
    width: 300px;
    padding: 20px;
    background-color: #1F3237;
    color: #a5bac0;
    border-radius: 15px;

    text-align: center;
}

.pessoa:hover {
    scale: calc(1.1);
    transition: .5s;
    color: #fff;
}

.porfile img {
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.porfile h3 {
    display: inline-block;
    padding: 0 0 0 5px;

    border-style: solid;
    border-width: 3px;
    border-color: #a5bac0;
    border-top-width: 0px;
    border-right-width: 0px;
}

.porfile .social {
    display: block;
    position: relative;
    bottom: 10px;

    color: #feda77;
    font-family: 'Poppins', sans-serif;
}

.porfile .social a {
    color: #feda77;
    text-decoration: none;
}

.porfile .social a:hover{
    color: #dd2a7b;
    transition: .5s;
}

.porfile cite {
    margin-top: 0;
    text-align: justify;
    display: block;
}

.resumo {
    padding-bottom: 40px;
}

.bolha {
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #252525;
    border-radius: 10px;
    background-color: #a5bac0cd;
}

.resumo .pdf {
    display: flex;
    height: 40px;
    max-width: 390px;
    align-items: center;
    justify-content: space-between;

    background-color: #1F3237;
    font-weight: bold;

    border-style: none;
    border-width: none;
    border-radius: 12px 10px 10px 12px;
}

.resumo .pdf:hover {
    transition: .8s;
    transform: scale(1.01);
    box-shadow: 10px 5px 5px #252525;
}

.resumo .pdf span {
    height: 100%;
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #feda77;

    border-style: none;
    border-radius: 10px 0 0 10px;
}

.resumo .pdf span .fa-file-arrow-down {
    font-size: 25px;
}

.resumo .pdf a {
    margin: 0 auto;
    color: #94b4bd;
    font-size: 18px;
}


footer {
    padding: 20px;  
    background-color: #1F3237;
    color: #fff;
    text-align: center;

    border: 0 solid;
    border-radius: 15px 15px 0 0;
}

footer .money {
    color: #3DC2E3;
}

footer p {
    margin: 0;
}

footer img {
    height: 50px;
}

footer .button {
    display: inline-block;
    background-color: #94b4bd;
    margin-top: 15px;
    padding: 3px;

    border-radius: 5px;
}

.button .btn {
    color: #1F3237;
    font-weight: bold;
}

.button:hover {
    background-color: #fff;
    color: #000;
    transition: .5s;
}

@media (max-width: 768px) {

    header {
        /* display: flex;
        align-items: center;
        justify-content: center;
    
        background-color:#bddde6;
        color: #1F3237;
        font-family: 'Special Elite', cursive; */
        font-size: 12px;
    }

    nav {
        font-size: 14px;
        padding: 5px;

        height: 35px;
    }

    nav ul {
        gap: 30px;
    }

    .resumo .pdf {
        margin: 0 auto;
    }
}

@media (max-width: 480px) {

    nav ul {
        gap: 7px;
    }

    nav ul li a {
        background-color: rgba(0, 0, 0, 0.089);
        color: #fff;

        padding: 5px;

        border: 0 solid;
        border-radius: 5px;
    }

    ul li a:hover {
        font-size: 14px;
    }

    .resumo .pdf a {
        font-size: 14px;
    }
}